*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.container{
    background-color: blue;
    width:680px;
    /* height: 350px; */
    border: 2px solid black;
    margin: auto;
}

h2 ,p{

    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 ;
}

p{
    font-size: 20px;
}